.categoryList{
   width: 140px !important;
   background-color: #808080;
   height: 87.5vh !important;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: 2px;
   flex-shrink: 0;
}

.categoryList::-webkit-scrollbar {
   width: 5px;
 }

 .categoryList::-webkit-scrollbar-thumb {
   background: rgba(255, 255, 255, 0.307) ; 
   border-radius: 10px;
 }