.mainSuggest{
    position: absolute;
    bottom: -120px;
    left: 81px;
    width: 38vw;
    height: 130px;
    z-index: 1;
    background-color: white;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 3px;
    border: 0.5px solid rgb(155, 155, 155);
}

.mainSuggest::-webkit-scrollbar {
    width: 5px;
  }
   
 .mainSuggest::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.307) ; 
    border-radius: 10px;
  }

.suggestionOption{
    min-height: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(179, 179, 179);
    padding-left: 10px;
    font-size: 13px;

}

.suggestionOption:hover{
    background-color: rgb(218, 218, 218);
}