.customerDetail {
   transform: scaleY(0);
   height: 0px;
   padding-inline: 10px;
   transition: all 0.2s ease-in-out;
   font-size: 13px;
   
}

.customerDetail.show {
   transform: scaleY(1);
   height: 173px;
}

.custemerFieldWrapper{
   margin: 7px 10px;
   display: flex;
   align-items: center;
   position: relative;
}

.custemerFieldWrapper span{
   min-width: 70px;
   font-size: 14px;
   font-weight: 500;
   color: rgb(77, 77, 77);
}


.custemerFieldWrapper input{
   height: 35px;
   border: 1px solid rgb(214, 214, 214);
   border-radius: 5px;
   padding: 3px 10px;
   font-size: 13px;
   color: rgb(68, 68, 68);
   font-weight: 500;
}

.customerContact{
   flex-grow: 1;
   max-width: 150px;
}

.customerName{
   flex-grow: 1;
   max-width: 200px;
}

.customerAddress, .customerLocality{
   flex-grow: 1;
   max-width: 450px;
}
