.modelHeader {
	font-weight: 500;
	color: rgb(48, 48, 48);
}

.saveBtn,
.closeBtn {
	border: none;
	padding: 5px 20px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 15px;
	color: white;
}

.saveBtn {
	background-color: rgb(199, 12, 12);
}
.closeBtn {
	background-color: gray;
}

.error{
	font-size: 14px;
	font-weight: 500;
	display: none;
	margin-right: auto !important;
	color: rgb(204, 13, 13);
}

.modelHeader, .modelFooter {
	padding: 10px 15px;
}
