.flipContainer {
    width: 100px;
    height: 100px;
    perspective: 200px;
    padding: 10px;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    width: 90%;
    height: 90%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform-style: preserve-3d;

  }
  
  .front {
    background-color: blue;
    color: white;
  }
  
  .back {
    background-color: red;
    color: white;
  }