.holdOrderCard {
	padding: 5px;
	border-radius: 5px;
	/* border: 1px solid rgb(175, 175, 175); */
	margin-top: 10px;
	font-size: 12px;
	font-weight: 500;
	color: rgb(241, 241, 241);
	background-color: rgba(58, 58, 58, 0.712);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.holdOrderCard:hover {
	background-color: rgb(65, 65, 65);
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 2px;
}

.total {
	display: flex;
	justify-content: flex-end;
	padding: 3px 2px;
	font-weight: bolder;
	font-size: 13px;
	color: rgb(255, 255, 255);
}

.customerDetail {
	padding: 3px 2px 5px 2px;
	width: 100%;
	border-bottom: 1px solid rgb(175, 175, 175);
}

.actions {
	padding: 7px 2px 3px 2px;
	display: flex;
	justify-content: space-between;
}

.actions button {
	font-weight: bolder;
	color: inherit;
	border: none;
	border-radius: 5px;
	padding-inline: 20px;
	padding-block: 5px;
	background-color: rgba(202, 16, 16, 0.911);
	color: white;
}

/* .holdOrderCard:hover {
	background-color: rgba(119, 119, 119, 0.897);

} */
