.paymentBreakdown {
     background-color: rgb(111, 111, 111);
     height: 0px;
     position: absolute;
     opacity: 0;
     top: 0px;
     width: 100%;
     z-index: -10;
     border-top-right-radius: 9px;
     border-top-left-radius: 9px;
     transition: all 0.2s ease-in-out;
}

.paymentBreakdown.showBreakdown {
     height: 400px;
     top: -400px;
     opacity: 1;
}

.breakDownHideBtn {
     position: absolute;
     left: 50%;
     top: -15px;
     transform: translateX(-50%);
     width: 60px;
     background-color: rgb(111, 111, 111);
     border: none;
     border-radius: 6px;
     color: white;
     font-weight: bolder;
     font-size: 15px;
     z-index: 10;
     transition: transform 0.1s ease-in-out;
     padding-bottom: 5px;
}

.breakDownHideBtn:hover {
     transform: translateX(-50%) scale(1.05);
}

.breakDownItem {
     color: white;
     font-size: 13px;
     border-bottom: 1px solid rgb(94, 94, 94);
     padding-top: 12px;
     padding-bottom: 12px;
}

.breakDownItem input {
     width: 80px;
     height: 35px;
     text-align: end;
     border-radius: 3px;
     border: none;
     padding-right: 10px;
}
