.Link:hover .LinkIcon,
.bars:hover {
	transform: scale(1.2);
	color: rgba(199, 13, 13, 0.945);
}

.Link:active .LinkIcon,
.bars:active {
	transform: scale(1);
	color: rgba(158, 1, 1, 0.945);
}

.Link {
	position: relative;
    cursor: pointer;
}

.LinkIcon {
	font-size: 25px;
	margin-inline: 10px;
	color: black;
	transition: all 150ms ease-out;
}

.pendingOrderCountBadge {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: rgba(196, 0, 0, 0.932);
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 100%;
	display: flex;
	justify-content: center;
	right: 1px;
	top: -7px;
	align-items: center;
	font-size: 11px;
	font-weight: 500;
	animation: bounce2 1.4s ease infinite;
}

@keyframes bounce2 {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0) scaleX(1) scaleY(1);
	}

    25%{
        transform: translateY(0) scaleX(0.9) scaleY(1.1);
    }

	40% {
		transform: translateY(-10px) scaleX(1) scaleY(1);
	}

    48%{
        transform: translateY(0) scaleX(1.1) scaleY(0.9);
    }

    53%{
        transform: translateY(0) scaleX(1.1) scaleY(0.9);
    }

	60% {
		transform: translateY(-6px) scaleX(1) scaleY(1);
	}

    75%{
        transform: translateY(0) scaleX(1.1) scaleY(0.9);
    }
    
}