.personCount{
   height: 0px;
   transform: scaleY(0);
   padding-inline: 10px;
   font-size: 13px;
   /* padding-top: 12px;
   padding-bottom: 12px;  */
   transition: all 0.2s ease-in-out
   
}

.personCount.show{
   transform: scaleY(1);
   height: 55px;
   padding-top: 12px;
   padding-bottom: 12px ; 
}

.personCount input{
   height: 35px;
   width: 45px;
   padding-inline-start: 10px;
   border: 1px solid rgb(197, 197, 197);
   border-radius: 5px;  
}

.personCount span {
   font-size: 14px;
   font-weight: 500;
   color: rgb(46, 46, 46);
}