.printersListBody {
      height: calc(100% - 53px);
}

.printersListBody header {
      display: flex;
      padding: 10px 20px;
      justify-content: space-between;
      font-weight: 500;
      color: rgb(83, 83, 83);
      border-bottom: 2px solid rgb(238, 238, 238);
      align-items: center;
}

.addprinterButton {
      border: none;
      background-color: rgba(192, 0, 0, 0.932);
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      margin-right: 20px;
      font-size: 15px;
      font-weight: 500;
      border: 1px solid rgba(192, 0, 0, 0.932);
}

.printersList {
      width: 100%;
      padding: 20px;
}

.tableMain {
      width: 100%;
      font-size: 13px;
      border: 2px solid rgb(219, 219, 219);
      border-radius: 10px;
      border-collapse: separate;
      border-spacing: 0;
      box-shadow: rgba(85, 85, 85, 0.25) 0px 6px 12px -2px, rgba(43, 43, 43, 0.3) 0px 3px 7px -3px;
}

.tableMain thead {
      background-color: rgb(223, 223, 223);
}

thead th {
      padding: 12px 10px;
      font-size: 14px;
      font-weight: 700;
      border: 0px;
}

tbody td {
      padding: 8px 10px;
      font-size: 13px;
      font-weight: 500;
      color: rgb(58, 58, 58);
}

td a {
      color: black;
      font-weight: 700;
}
