.salesSummaryPage{
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 53px);
  
}

.pageHeader{
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(59, 59, 59);
}