.serverConfig{
   height:100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(188, 188, 188);
}

.main {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;   
   height: 250px;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.379);
   border-radius: 15px;
   color: white;
   padding-inline: 40px;
   gap: 10px;
   font-size :16px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   
}

.radio {
   height: 20px;
   width: 20px;
   vertical-align: middle;
   color: rgb(173, 2, 2);
}

.btn{
   align-self: center;
   margin-top: 15px;
   height: 30px;
   width: 80px;
   border-radius: 5px;
   background-color: black;
  color: white;
  
}

.ipAddress{
   margin-left: 10px;
   padding-inline: 5px;
   height: 30px;
   width: 158px;
   border: none;
   line-height: 30px;
   border-radius: 4px;
   margin-top: 5px;
}

.err{
   font-size: 14px;
   color: red;
}