.printerConfigOptions {
    text-decoration: none;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 10px;
    font-weight: 700;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    color: rgb(82, 82, 82);
    transition: all 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.printerConfigOptions:hover {
    color: rgb(189, 12, 12);
    background-color: white;
    transform: scale(1.02);
}