.KOTCard {
      width: 300px;
      margin: 15px 15px;
      border-radius: 5px;
      display: flex;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      flex-direction: column;
}

.CardHeader {
      display: flex;
      height: 50px;
      justify-content: space-evenly;
      background-color: rgb(0, 131, 131);
      width: 100%;
      border-radius: 5px;
}

.CardHeader > div {
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      line-height: 100%;
      font-weight: 700;
      color: white;
      border: 0.5px solid white;
      flex: 1 1;
      font-size: 13px;
      flex-direction: column;
}

.KOTCustomerDetail {
      display: flex;
      justify-content: space-between;
      padding-block: 5px;
      padding-inline: 10px;
      font-size: 13px;
      font-weight: 500;
}

.KOTItemHeader {
      display: flex;
      justify-content: space-between;
      padding-block: 5px;
      padding-inline: 10px;
      font-size: 12px;
      font-weight: 700;
      color: rgb(51, 51, 51);
      background-color: rgb(233, 233, 233);
}

.KOTItemHeader > div {
      flex: 3;
      text-align: center;
}

.KOTItemHeader > div:first-child {
      flex: 12;
      padding-left: 10px;
      text-align: start;
}

.KOTBiller {
      font-size: 13px;
      padding: 5px 10px;
      border-bottom: 1px solid rgb(201, 201, 201);
      font-weight: 500;
}

.KOTItemsDetail {
      display: flex;
      font-size: 13px;
      font-weight: 600;
}

.KOTItemName {
      flex: 12;
      padding: 7px 5px 7px 15px;
}

.KOTItemQty {
      flex: 3 ;
      padding: 7px 5px 7px 10px;
      text-align: center;
}

.KOTItemName span {
      color: rgb(151, 151, 151);
}

.footer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      font-size: 15px;
      font-weight: 600;
      border-top: 1px solid rgb(207, 207, 207) ;
      background-color: rgb(240, 240, 240);


}

.footer button {
      border: none;
      border-radius: 5px;
      background-color: rgba(201, 13, 0, 0.918);
      padding: 7px 15px;
      font-weight: 600;
      color: white;
}

