.mainKOT{
    width: 98%;
    height: calc(100% - 85px);
    display: flex;
    padding: 15px 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    align-content: flex-start;
    gap:35px
}

.mainKOT::-webkit-scrollbar {
	width: 5px;
}

.mainKOT::-webkit-scrollbar-thumb {
	background: rgba(117, 117, 117, 0.753);
	border-radius: 10px;
}
