.orderCard {
	width: 450px;
	border-radius: 10px;
	margin: 15px 13px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px solid rgba(0, 30, 121, 0.26);
}

.cardHeader > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2px 10px;
	font-size: 13px;
	/* background-color: rgba(0, 117, 78, 0.26); */
	font-weight: 500;
	color: rgb(82, 82, 82);
}

.cardHeader {
	position: relative;
	z-index: 1;
	border-radius: 7px 7px 0px 0px;
	cursor: pointer;
}

.cardHeader img {
	background-color: rgba(255, 255, 255, 0.281);
	border-radius: 50%;
	backdrop-filter: blur(4px);
	/* background-color: white; */
	border-radius: 50%;
	padding: 8px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	/* z-index: 1; */
}

.riderStatus {
	background-color: white;
	font-size: 12px;
	padding: 4px 10px;
	font-weight: 500;
}

.customerDetail {
	padding: 4px 10px;
	font-size: 12px;
	background-color: rgb(228, 228, 228);
	color: rgb(56, 56, 56);
	letter-spacing: 0.3px;
	font-weight: 500;
	border-top: 1px solid rgb(212, 212, 212);
	border-bottom: 1px solid rgb(207, 207, 207);
}

.orderItems {
	display: flex;
	padding: 10px 10px;
	font-size: 13px;
	font-weight: 500;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	height: 160px;
	overflow-y: scroll;
	background-color: rgb(231, 231, 231);
}

.orderItem {
	display: flex;
	width: 50%;
	padding: 5px 5px;
}

.orederItemQty {
	white-space: nowrap;
	padding-right: 5px;
}

.addon {
	color: rgb(95, 95, 95);
	font-size: 12px;
}

.statusBtn {
	height: 45px;
	display: flex;
	padding: 5px 15px;
	justify-content: flex-end;
	align-items: center;
	gap:10px;
	position: relative;
}

.statusBtn button {
	border: none;
	background-color: rgba(194, 0, 0, 0.945);
	font-size: 13px;
	border-radius: 7px;
	padding:10px 15px;
	line-height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 500;
	min-width: 110px;
	text-wrap: nowrap;
	
}

.orderItems::-webkit-scrollbar {
	width: 4px;
}

.orderItems::-webkit-scrollbar-thumb {
	background: rgb(63, 63, 63);
	border-radius: 5px;
}

.orderTotal {
	position: absolute;
	top: -30px;
	right: 14px;
	background-color: white;
	font-size: 12px;
	font-weight: 500;
	padding: 5px 10px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border: 1px solid rgb(196, 196, 196);
	border-bottom: none;
}

.printIcon{
	border: none;
	font-size: 20px;
    background-color: rgb(233, 233, 233);
	color: rgb(70, 70, 70);
	cursor: pointer;
	border-radius: 7px;
	padding:6px 6px;
	line-height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	max-width: 110px;

}
