.orderView {
      width: 100%;
      height: calc(100% - 85px);
      display: flex;
      flex-direction: column;
      align-items: center;
}

.orderViewControl {
      margin-top: 15px;
      width: 98%;
      height: 60px;
      border-radius: 5px;
      display: flex;
      flex-wrap: nowrap;
      border: 1px solid rgb(212, 212, 212);
      align-items: center;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.searchBtn {
      background-color: white;
      font-size: 15px;
      height: 40px;
      width: 40px;
      border: 1px solid rgb(212, 212, 212);
      margin-inline: 0.5vw;
      border-radius: 5px;
}

.mfrBtn {
      width: 60px;
      height: 60%;
      border-radius: 5px;
      background-color: rgb(196, 3, 3);
      margin-inline: 0.5vw;
      color: white;
      text-align: center;
      line-height: 30px;
      border: none;
}

.controls {
      flex: 1;
      margin-inline: 0.5vw;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 5px;
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.orderInput {
      width: 170px;
      height: 60%;
      font-size: 15px;
      margin-left: 20px;
}

.control {
      font-size: 12px;
      padding-inline: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 70px;
      border-right: 1px solid rgb(212, 212, 212);
}

.icon {
      font-size: 17px;
}

.name {
      white-space: nowrap;
      margin-top: 2px;
}

.control.active {
      border-bottom: 4px solid rgb(196, 3, 3);
}

.OrderViewMain {
      width: 100%;
      height: calc(100% - 75px);
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      overflow-y: auto
}