.tableList{
    display: flex ;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 10px 10px 10px ;
}

.areaSection{
    padding: 10px 0px;
    width: 100%;
}

.areaTitle{
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px dashed  rgb(206, 206, 206);

}